
.vs/Project-IS/FileContentIndex/10cec2ce-802d-4192-8489-e8e01e0583a6.vsidx
.vs/Project-IS/FileContentIndex/10cec2ce-802d-4192-8489-e8e01e0583a6.vsidx
.vs/Project-IS/FileContentIndex/1d62de93-e220-4eef-8e1e-8e7d64891334.vsidx
.vs/Project-IS/FileContentIndex/c297bf7c-40c6-43d3-9c4a-f3605ce1f29f.vsidx
/.vs
/.vs
.vs/Project-IS/v17/.suo
.vs/Project-IS/v17/DocumentLayout.json
.vs/Project-IS/FileContentIndex/c297bf7c-40c6-43d3-9c4a-f3605ce1f29f.vsidx
.vs/Project-IS/FileContentIndex/10cec2ce-802d-4192-8489-e8e01e0583a6.vsidx
.vs/Project-IS/FileContentIndex/10cec2ce-802d-4192-8489-e8e01e0583a6.vsidx
.vs/Project-IS/v17/DocumentLayout.json
.vs/Project-IS/v17/DocumentLayout.backup.json
.vs/Project-IS/v17/.suo
.vs/Project-IS/FileContentIndex/c297bf7c-40c6-43d3-9c4a-f3605ce1f29f.vsidx
.vs/Project-IS/v17/.suo
.vs/Project-IS/v17/DocumentLayout.backup.json
.vs/Project-IS/v17/DocumentLayout.json
*.vsidx
.vs/Project-IS/v17/DocumentLayout.json
.vs/Project-IS/v17/.suo
.vs/Project-IS/v17/DocumentLayout.json
